#{extends 'main.html' /}
#{set title:'Home' /}

<p>
#{list items:models.User.findAll(), as:'user'}
	<a href="@{downloadUserPhoto(user.id)}"><img title="${user.photoFileName}" src="@{Application.userPhoto(user.id)}"></a>
#{/list}
</p>

#{form @Application.addUser(), enctype:'multipart/form-data'}
    <p>
		<input id="photo" type="file" name="user.photo">
    	<input type="submit" name="submit" value="Upload">
    </p>
#{/form}

#{form @addUserWithFileName(), enctype:'multipart/form-data'}
	<p>
		<input id="photo" type="file" name="photo">
		<input type="submit" name="submit" value="Upload">
	</p>
#{/form}
